/* :root {
    --primary-color: #005d49;
    --secondary-color: #009061;
    --background-color: #f9fafb;
    --highlight-color: #32639b;
    --success-color: #21a558;
    --error-color: #d82916;
} */

.img-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  height: 100%;
  margin-right: 13rem;
  overflow: hidden;
  width: max-content;
}

.container {
  z-index: 0;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: grid;
  grid-template-areas: 
    'img content'
    'acct content';
  gap: 1.5rem;
  background-color: #fff;
  width: 70%;
  max-width: 95%;
  max-height: 90%;
  border-radius: 7px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: #422132;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > p {
  font-family: 'Poppins', sans-serif;
}

#job-hunt-img {
  grid-area: img;
  margin-right: 3rem;
  border-radius: 5px;
}

#link-container {
  font-family: 'Poppins', sans-serif;
}

#link-container button {
  background-color: #703855;
  border-color: #713956;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 0.7rem;
  margin: 0.7rem 2.3rem 0.5rem 0;
  width: 24rem;
  color: #fff;
  cursor: pointer;
}

#link-container a {
  text-decoration: none;
  color: #9f6181;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #422132;
}

#title-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #937e89;
}

.title-span-h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #937e89;
}
