.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.signup-card {
  background-color: #fff;
  border-radius: 7px;
  padding: 2rem 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: #422132;
  width: 19%;
  height: 70%;
}