.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.signup-card {
  background-color: #fff;
  border-radius: 7px;
  padding: 3rem 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: #422132;
  width: 20%;
  min-height: 70%;
  height: max-content;
}

.redirect-message {
  border-radius: 5px;
  background-color: rgba(171, 147, 159, 0.3);
  color: #422132;
  padding: 0.7rem;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 0.9rem;
}