/* LORA FONT */
@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('../src/assets/fonts/Lora/Lora-Regular.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: italic;
  src: url('../src/assets/fonts/Lora/Lora-Italic.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-style: normal;
  src: url('../src/assets/fonts/Lora/Lora-Medium.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-style: italic;
  src: url('../src/assets/fonts/Lora/Lora-MediumItalic.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-style: normal;
  src: url('../src/assets/fonts/Lora/Lora-SemiBold.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-style: italic;
  src: url('../src/assets/fonts/Lora/Lora-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('../src/assets/fonts/Lora/Lora-Bold.ttf');
}
@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  src: url('../src/assets/fonts/Lora/Lora-BoldItalic.ttf');
}


/* POPPINS FONT */
@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Thin.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-ThinItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-LightItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-Italic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-MediumItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-BoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('../src/assets/fonts/Poppins/Poppins-BlackItalic.ttf');
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}